@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');

@media screen and (min-width: 769px) {
    body {
        color:white;
        background-color: #00233f;
        font-family: 'Barlow Condensed', sans-serif;
    }
    h1{
        font-size:50px;
        font-weight: bold;
        text-align: center;
        text-shadow: 5px 5px 10px #000;
    }
    .parte{
        text-align: center;
    }
    .parte h2{
        font-size:30px;
        text-align:center;
        text-shadow: 5px 5px 10px #000;
    }
    .parte p{
        font-size: 26px;
        max-width:750px;
        text-align:justify;
        margin:auto;
        padding: 5%;
        border: 5px double #1d71a1;
        border-radius: 15px;
        font-weight:bold;
    }
    .parte a{
        text-decoration:none;
        color:white;
        text-align: center;
        font-size:24px;
        transition:0.5s;
    }
    .parte a:hover{
        color:rgb(202, 75, 196)
    }
    .back {
        padding:5px;
        margin-top:5px;
        text-decoration: none;
        border: 5px solid #1d71a1;
        border-style: double;
        border-radius: 40px;
        max-width: 100px;
        min-width: 50px;
        position: sticky;
        left: 20%;
        display: inline-block;
        text-align: center;
        color:white;
        transition: 0.25s;
        font-size:24px
    }

    .back:hover {
        background-color: #1d71a1;
        border-color: #1d71a1;
        box-shadow: 1px 2px 3px #000;
    }
/*Computador*/
} 

@media screen and (max-width: 768px) {
    body {
        color:white;
        background-color: #00233f;
        font-family: 'Barlow Condensed', sans-serif;
    }
    h1{
        font-size:50px;
        font-weight: bold;
        text-align: center;
        text-shadow: 5px 5px 10px #000;
    }
    .parte{
        text-align: center;
    }
    .parte h2{
        font-size:30px;
        text-align:center;
        text-shadow: 5px 5px 10px #000;
    }
    .parte p{
        font-size: 26px;
        max-width:750px;
        text-align:justify;
        margin:auto;
        padding: 5%;
        border: 5px double #1d71a1;
        border-radius: 15px;
        font-weight:bold;
    }
    .parte a{
        text-decoration:none;
        color:white;
        text-align: center;
        font-size:18px;
        transition:0.25s;
        font-weight:bold;
    }
    .back {
        padding:5px;
        margin-top:5px;
        text-decoration: none;
        border: 5px solid #1d71a1;
        border-style: double;
        border-radius: 40px;
        max-width: 400px;
        min-width: 61%;
        position: sticky;
        left: 20%;
        display: inline-block;
        text-align: center;
        color:white
    }
} 
